body{
padding: 0;
margin: 0;
background-image: url("https://tse1.mm.bing.net/th?id=OIP.nF0nMbczyLMhsr1FxZK_zAHaFj&pid=Api&P=0");
background-color: rgb(243, 215, 157);
background-repeat: no-repeat;
background-size: cover;
}
.headerBackground{
  height: 70px;
  background: url("https://tse3.mm.bing.net/th?id=OIP.ti3xB_-ubtrF_2YFCIgmHAHaHa&pid=Api&P=0");
}
.header{
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  font: bold;
  color: white;

}
form{
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.searchInput{
  width:400px;
  height: 30px;
  border-radius: 10px;

  margin-right: 10px;
}
.submit{
  height: 40px;
  border-radius: 10px;
  background-color: chocolate;
  color: white;
  border: 1px solid rgb(123, 62, 17);
}
.submit:hover{
  background-color: rgb(146, 66, 8);

}
.focus{
  display: block;
  color: white;
 
}
.nofocus{
  display: none;
}
.cardcontainer{
  margin: auto;
  min-width: 700px;
  width: 500px;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto;
}
.card{
  margin: 2px;
  width: 200px;
  height: 320px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}
.card:hover{
  width: 220px;
  height: 330px;
}
.textcontainer{
  background-color: black;
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  width: 100%;
}

.title{
  color: white;
  text-align: center;
  margin-top: 10px;
  margin: 5px;
}
